* {
  box-sizing: border-box;
}

body {
  max-width: 900px;
  margin: auto;
}

#control {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: space-between;
  width: 100%;
}

#control div {
  flex-grow: 1;
  flex-basis: 0;
}

#control p {
  font: 10pt sans-serif;
  font-weight: bold;
  text-align: center;
  color: black;
  margin: .25em;
}

#score-stars {
  color: lightgray;
  letter-spacing: 1px;
}

.good-stars {
  color: gold;
  /* text-shadow: 0px 0px 2px blue; */
}

#game-board {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: space-around;
  width: 100%;
  height: 80vh;
  background-color: #cffcf8;
  /* border-radius: 15px; */
  padding: .5em;
  margin: auto;
  /* box-shadow: 10px 10px 15px 3px lightgray; */
}

@keyframes flashing-board {
  from {
    background-color: #cffcf8;
  }
  to {
    background-color: #ffa0a0;
  }
}

.board-winner {
  animation-name: flashing-board;
  animation-delay: 1s;
  animation-duration: 50ms;
  animation-iteration-count: 10;
  animation-direction: alternate;
}

.board-row {
  display: inherit;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 0;
  align-content: space-between;
  justify-content: space-between;
}

.card {
  display: inherit;
  flex-grow: 1;
  flex-basis: 0;
  margin: .5em;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 5%;
}

.back {
  background-color: slategray;
}

.selected {
  background-color: #f9f0ca;
}

.matched {
  background-color: #b7ffc5;
  animation: .4s ease-in correct;
}

.selected .card-display,.matched .card-display {
  color: black;
}

@keyframes flip-to {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(.25turn);
  }
}

@keyframes flip-back {
  from {
    transform: rotateY(.25turn);
  }
  to {
    transform: rotateY(0);
  }
}

.card-flip {
  animation: .125s flip-to, .125s linear .125s flip-back;
}

@keyframes correct {
  0% {
    transform-origin: center;
    transform: scale(1,1);
  }
  50% {
    transform: scale(1.7,.7);
  }
  75% {
    transform: scale(.8,1.3);
  }
  90% {
    transform: scale(1.1, .9);
  }
  100% {
    transform: scale(1,1);
  }
}

@keyframes incorrect {
  0% {
    transform: translateX(0) rotate(0);
  }
  25% {
    transform: translateX(-20%) rotate(-5deg);
  }
  75% {
    transform: translateX(20%) rotate(5deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

.incorrect-guess {
  animation: .25s 2 incorrect, .125s .5s flip-to, .125s linear .625s flip-back;
  background-color: red;
  transform-origin: bottom center;
}

.card-display {
  color: white;
  text-align: center;
  vertical-align: middle;
  font-family: 'Fredericka the Great', cursive;
  font-size: 30pt;
  margin: auto;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#game-over {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  animation: 0.25s fade-in;
}

#game-stats {
  font: lighter 12pt sans-serif;
  margin-top: 0;
}

#play-again {
  font: 16pt sans-serif;
}

.button {
  color: white;
  background-color: mediumaquamarine;
  border-radius: 10px;
  padding: 8px;
}

.hidden {
  display: none;
}

h1 {
  margin: 0;
  font: 20pt sans-serif;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font: 20pt sans-serif;
  margin-bottom: 6pt;
}

@media screen and (min-width: 600px) {
  #control {
    width: 90%;
    margin: auto;
  }
  #control p {
    font-size: 14pt
  }
  #game-board {
    border-radius: 15px;
    padding: .75em;
    width: 90%;
    box-shadow: 5px 5px 10px 3px lightgray;
  }
  .card {
    margin: .75em;
  }
  .card-display {
    font-size: 40pt
  }

  #game-stats {
    font-size: 16pt
  }

  #play-again {
    font-size: 20pt
  }

  h1 {
    font-size: 25pt;
    margin: .25em;
  }

  h2 {
    font-size: 24pt
  }
}
