* {
  box-sizing: border-box;
}

#game-board {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: space-around;
  width: 80%;
  background-color: #cffcf8;
  border-radius: 30px;
  padding: 1em;
  margin: auto;
  box-shadow: 10px 10px 15px 3px lightgray;
}

.board-row {
  display: inherit;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
}

.card {
  display: inherit;
  width: 20%;
  height: 100px;
  margin: 1em;
  background-color: slategray;
}

h1 {
  font: 20pt sans-serif;
  text-align: center;
  text-transform: uppercase;
}
